/*
Created by Alok 2017/2/8
*/

body {
	margin: 0 0;
	font-family: Arial, Helvetica, sans-serif;
	width: 300px;
	height: 250px;
}

.title {
	background-color: skyblue;
	width: 300px;
	height: 30px;
	padding: 8px;
}

h1 {
	text-align: center;
	margin: 0;
	color: #FFF;
}

.form-group {
	margin-top: 20px;
}

label {
	display: inline-block;
	width: 55px;
	text-align: right;
	margin-left: 30px;
	font-size: 14px;
}

input[type="text"] {
  /*
  background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
  */
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 0 5px;
  padding-left: 10px;
  transition: box-shadow 0.3s;
  width: 160px;
  font-size: 14px;
}

input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.label-switch {
	margin-top: 40px;
	margin-left: 160px;
}

/* ============= Toggle Common ============== */

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* ============= SWITCH 1 - ROUND ============== */

input.cmn-toggle-round + label {
	padding: 2px;
	width: 90px;
	height: 30px;
	background-color: #dddddd;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #f1f1f1;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
	width: 32px;
	background-color: #fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transition: margin 0.4s;
	-moz-transition: margin 0.4s;
	-o-transition: margin 0.4s;
	transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
	background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
	margin-left: 60px;
}